.DS_Store
__pycache__
.ipynb_checkpoints
.vscode
debug.py
.idea/*
transformers
wandb/
log/
*.log
outputs/
data/

examples/vsr_LRS3/scripts/decode_avhubert_vo_vicuna_7b_noself.sh
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_copy.sh
examples/vsr_LRS3/scripts/decode_avhubert_vo_vicuna_7b_copy.sh
scripts_all
examples/hotwords_librispeech
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_debug.sh